@import 'tailwindcss';

@theme {
  --color-white: #ffffff;
  --color-black: #000000;

  --color-primary-50: #f2f2f2;
  --color-primary-100: #d1d1d1;
  --color-primary-200: #989898;
  --color-primary-300: #555555;
  --color-primary-400: #000000;
  --color-primary-500: #000000;
  --color-primary-600: #000000;
  --color-primary-700: #000000;
  --color-primary-800: #000000;
  --color-primary-900: #000000;
  --color-primary: var(--color-primary-500);
  --color-anti-primary: var(--color-white);
  --color-muted: var(--color-primary-300);
  --color-muted-test: var(--color-primary-50);

  --color-secondary-50: #f2f0ff;
  --color-secondary-100: #e0dff2;
  --color-secondary-200: #bfbdde;
  --color-secondary-300: #9b98ca;
  --color-secondary-400: #7d79ba;
  --color-secondary-500: #ffffff;
  --color-secondary-600: #605bac;
  --color-secondary-700: #504c97;
  --color-secondary-800: #464388;
  --color-secondary-900: #3b3979;

  --color-success-50: #f0fdf4;
  --color-success-100: #dcfce7;
  --color-success-200: #bbf7d0;
  --color-success-300: #86efac;
  --color-success-400: #4ade80;
  --color-success-500: #22c55e;
  --color-success-600: #16a34a;
  --color-success-700: #15803d;
  --color-success-800: #166534;
  --color-success-900: #14532d;

  --color-error-50: #fef2f2;
  --color-error-100: #fee2e2;
  --color-error-200: #fecaca;
  --color-error-300: #fca5a5;
  --color-error-400: #f87171;
  --color-error-500: #ef4444;
  --color-error-600: #dc2626;
  --color-error-700: #b91c1c;
  --color-error-800: #991b1b;
  --color-error-900: #7f1d1d;

  --color-warning-50: #fffbeb;
  --color-warning-100: #fef3c7;
  --color-warning-200: #fde68a;
  --color-warning-300: #fcd34d;
  --color-warning-400: #fbbf24;
  --color-warning-500: #f59e0b;
  --color-warning-600: #d97706;
  --color-warning-700: #b45309;
  --color-warning-800: #92400e;
  --color-warning-900: #78350f;

  --color-info-50: #f0f9ff;
  --color-info-100: #e0f2fe;
  --color-info-200: #bae6fd;
  --color-info-300: #7dd3fc;
  --color-info-400: #38bdf8;
  --color-info-500: #0ea5e9;
  --color-info-600: #0284c7;
  --color-info-700: #0369a1;
  --color-info-800: #075985;
  --color-info-900: #0c4a6e;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-primary-100);
    outline-color: var(--color-primary-200);
  }
}
